@import 'tailwindcss';
@config '../../tailwind.config.ts';

body {
  background: #ffffff;
  overflow-x: hidden;
}

.map-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
