@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #262626; */
  background: #ffffff;
}

.map-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
